.wrapper {
    display: flex;
    /* align-items: center; */
    background: #fff;
    margin-top: 100px;
}


.wrapperImg {
    position: relative;
    flex: 0.7;
}

.wrapperImg img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
    height: 100%;
}


.detail {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0C0A0A;
    padding: 35px 40px;
    border-radius: 3px;

}

.detail h5 {
    font-family: "Titillium Web", sans-serif;
    font-size: var(--h5);
    line-height: 1.24;
    color: #fff;
    font-weight: var(--s-bold);
}

.detail a {
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.3s;
    margin-top: 15px;
    gap: 10px;
}

.detail a:hover {
    color: var(--color-primary);
}

.detail a .icon {
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 6px;
}

.wrapperInfo {
    flex: 0.4;
    background: #FFFFFF;
    height: 100%;
    padding: 40px 30px;
}

.leftTitle {
    text-align: left;
}

.leftTitle span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FF6600;
    text-transform: uppercase;
    font-family: var(--font-primary);
}

.leftTitle .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 72px;
    color: #0C0A0A;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 20px;
}

.start .nav {
    background: #F2F3F5;
    padding: 20px 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.3s;
}

.start .nav li .navLink {
    outline: none;
    border: none;
    color: #0C0A0A;
    font-family: var(--font-primary);
    padding: 0;
    margin: 0;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    transition: width 0.3s ease;
}

.start .nav li .navLink.active::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #0C0A0A;
    z-index: 1;
}

.disc {
    line-height: var(--line-height-b2);
    font-weight: var(--p-regular);
    color: var(--color-body);
    margin: 0 0 40px;
    font-size: 15px;
    margin-bottom: 10px;
}

.jurney {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.left .titleAnimated {
    font-size: 60px;
    font-weight: 700;
    font-family: var(--font-primary);
    color: var(--color-primary);
}

.sub {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.08em;
    color: #161921;
    text-transform: uppercase;
}

.single {
    margin-bottom: 7px;
}

.single .icon {
    color: #fff;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    border-radius: 50%;
    padding: 3px;
}

.single span {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #0C0A0A;
    margin-right: 10px;
}

.btn {
    border: none;
    outline: none;
    background: var(--color-secondary);
    color: #fff;
    border-radius: 2px;
    padding: 10px 25px;
    font-size: 1.1rem;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    z-index: -100;
    transition: var(--transition);
}

.btn:hover::before {
    transform: translateY(0);
}

@media (max-width: 1030px) {
    .wrapper {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 767px) {
    .leftTitle .title {
        font-size: 30px;
        line-height: 45px;
    }

    .jurney {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}

@media (max-width: 423px) {
    .leftTitle .title {
        font-size: 25px;
        line-height: 45px;
    }

    .start .nav li .navLink.active::after {
        display: none;
    }

}


@media (max-width: 320px) {
    .leftTitle .title {
        font-size: 18px;
        line-height: 30px;
    }

    .start .nav li .navLink.active::after {
        display: none;
    }

    .jurney {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}