.serviceCart {
    background: #FFFFFF;
    border-radius: 5px;

}

.serviceImg {
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    overflow: hidden;
    transition: all var(--transition);
}

.serviceImg:hover img {
    transform: scale(1.2);
}

.serviceImg .badge {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 69px;
    height: 69px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    font-family: var(--font-primary);
    border-radius: 5px 0 0 0;
}

.serviceImg img {
    border-radius: 5px 5px 0 0;
    transition: 1.3s;
    transform: scale(1);
    width: 100%;
}

.serviceItem {
    padding: 40px;
    border-radius: 0 0 5px 5px;
}

.serviceItem h5 {
    color: var(--color-heading);
    margin-bottom: 10px;
    font-size: var(--h5);
    line-height: 1.24;
    font-family: "Titillium Web", sans-serif;
    color: var(--color-heading-1);
    font-weight: var(--s-bold);
    transition: var(--transition);
    cursor: pointer;
}

.serviceItem h5:hover {
    color: var(--color-primary);
}

.serviceItem p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: var(--line-height-b2);
    font-weight: var(--p-regular);
    color: var(--color-body);
}

.btn {
    border: none;
    outline: none;
    background: var(--color-secondary);
    color: #fff;
    border-radius: 2px;
    padding: 10px 25px;
    font-size: 1.1rem;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.btn a {
    font-family: var(--font-primary);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;

}

.btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    z-index: -100;
    transition: var(--transition);
}

.btn:hover::before {
    transform: translateY(0);
}


.wrapper {
    display: flex;
    background: #fff;
    margin-top: 100px;
    padding: 5px;
}

.wrapperImg {
    position: relative;
    flex: 0.5;
}

.wrapperImg img {
    width: 100%;
}

.detail {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0C0A0A;
    padding: 40px 50px;
    border-radius: 3px;
}

.detail h5 {
    font-family: "Titillium Web", sans-serif;
    font-size: var(--h5);
    line-height: 1.24;
    color: #fff;
    font-weight: var(--s-bold);
}

.detail a {
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.3s;
    margin-top: 10px;
}

.detail a:hover {
    color: var(--color-primary);
}

.detail a .icon {
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
    height: 27px;
    width: 27px;
    border-radius: 5px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 6px;
}

.wrapperInfo {
    flex: 0.5;
}