.getInTouch {
    margin-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
}

.getInTouch .container {
    display: flex;
    gap: 20px;
}

@media (max-width: 1200px) {
    section {
        padding: 0px !important;
    }

    .getInTouch .container {
        flex-direction: column;
        gap: 50px;
    }
}

.getInTouch .map {
    flex: 0 0 49%;
}

.getInTouch .message {
    flex: 1 0 49%;
    background: #F2F2F2;
    padding: 50px;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    box-shadow: 0px 24px 39px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    .getInTouch .message {
        padding: 20px;
    }
}

.getInTouch .message .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.getInTouch .message .top .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0C0A0A;
    font-family: var(--font-primary);
}

.getInTouch .message .top .title {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #0C0A0A;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .getInTouch .message .top .text {}

    .getInTouch .message .top .title {
        font-size: 30px;
        line-height: 43px;
        margin-top: 12px;
    }
}

.getInTouch .message .messageForm {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    overflow: hidden;
}

.getInTouch .message .messageForm input,
.getInTouch .message .messageForm select,
.getInTouch .message .messageForm textarea {
    flex: 1 0 47%;
    height: 60px;
    background: #FFFFFF;
    display: block;
    padding: 0 30px;
    border: 1px solid transparent;
    outline: none;
    transition: all 0.4s ease-out 0s;
    color: var(--color-body);
    border-radius: 2px;
}

.getInTouch .message .messageForm input:focus,
.getInTouch .message .messageForm select:focus,
.getInTouch .message .messageForm textarea:focus {
    border-color: var(--color-primary);
}

.getInTouch .message .messageForm .selectOption {
    flex: 1 0 100%;
}

.getInTouch .message .messageForm textarea {
    flex: 1 0 100%;
    background: #ffffff;
    border: none;
    height: 120px;
    padding: 20px;
    font-size: 16px;
    min-height: calc(1.5em + (0.75rem + 2px));
}

.submitButton {
    background: var(--color-primary);
    color: #fff;
    padding: 20px 33px;
    font-family: var(--font-primary);
    line-height: 10px;
    max-width: max-content;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: 0.3s;
    border: none;
    border-radius: 2px;
    display: block;
    min-width: max-content;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.submitButton::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--color-secondary);
    transform: translateY(110%);
    transition: 0.3s;
    transition-delay: 0.1s;
    z-index: -1;
    /* opacity: 0; */
}

.submitButton:hover::before {
    transform: translateY(0%);
    /* opacity: 1; */
}