.header-one {
    background-color: #F2F3F5;
}

.header-top {
    border-bottom: 1px solid #DFDFDF;
    overflow: hidden;
    background: #F2F3F5;
}

.header-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.left {
    display: flex;
    align-items: center;
    column-gap: 8px;
    position: relative;
    padding-right: 25px;
}

.left p {
    font-weight: 600;
    color: #6E777D;
    font-family: var(--font-primary);
}

.left::after {
    position: absolute;
    content: "";
    right: 0;
    height: 67px;
    width: 1px;
    background: #d1d1d1;
    transform: rotate(11deg);
}

.right {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.right .menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.right .menu li {
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    position: relative;
    padding-right: 25px;
    transition: var(--transition);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
}

.right .menu li:hover {
    color: var(--color-primary);
}


.right .menu li::after {
    position: absolute;
    content: "";
    right: 0;
    height: 67px;
    width: 1px;
    top: 50%;
    background: #d1d1d1;
    transform: rotate(11deg) translateY(-50%);
}

.header-mid-one-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.single-component {
    display: flex;
    align-items: center;
    gap: 15px;
}


.icon-svg {
    display: block;
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px #DDE2EB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #0C0A0A;
    font-weight: 500;
    font-size: 20px;
    padding: 8px;
}

.single-component .info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.single-component .info span {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #6E777D;
    font-family: var(--font-primary);
    margin-bottom: -3px;
}

.single-component .info a {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0C0A0A;
    font-family: var(--font-primary);
    transition: 0.3s;
}

.single-component .info a:hover {
    color: var(--color-primary);
}

.get-info {
    display: flex;
    align-items: center;
}

.get-info .btn {
    border: none;
    background: var(--color-primary);
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 13px 20px;
    border-radius: 2px;
    font-size: 1.1rem;
    position: relative;
}

.get-info .btn::before {
    position: absolute;
    content: "";
    top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0C0A0A;
    z-index: -100;
    transition: var(--transition);
}

.get-info .btn:hover::before {
    top: 0;
}

.get-info .btn .icon {
    font-size: 23px;
    margin-left: 5px;
}

.header-sticky {
    transition: 0.3s;
    top: 0;
    z-index: 5;
    position: relative;
}

.nav-header {
    position: relative;
}

.clip-path {
    clip-path: polygon(100% 0, 100% 42%, 98.5% 100%, 1.5% 100%, 0 42%, 0% 0%);
    position: absolute;
    background: var(--color-primary);
    height: 65px;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    line-height: 0;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}

.main-nav nav {
    display: block;
}

.main-nav nav ul {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.main-nav ul li {
    margin: 0 10px;
}

.main-nav ul li a {
    padding: 21px 20px;
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.12em;
    font-size: 16px;
    line-height: 24px;
    transition: var(--transition);
    display: block;
}

.main-nav ul li a:hover {
    color: black;
}

.btn-right {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.btn-right .search-btn {
    color: #fff;
    font-size: 20px;
    margin-top: 2px;
}

.btn-right .cart-icon {
    margin-left: 30px;
    font-size: 25px;
    color: white;
    position: relative;
}

.btn-right .badge {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #236355;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
}