/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700;800&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');

/*  css variables */
:root {
  --color-primary: #FF6600;
  --color-secondary: #0C0A0A;
  --color-body: #6E777D;
  --color-heading-1: #0C0A0A;
  --color-white: #fff;
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.3s;
  --font-primary: "Titillium Web", sans-serif;
  --font-secondary: "Archivo", sans-serif;
  --font-size-b1: 16px;
  --font-size-b2: 16px;
  --font-size-b3: 22px;
  --line-height-b1: 26px;
  --line-height-b2: 26px;
  --line-height-b3: 1.7;
  --h1: 66px;
  --h2: 48px;
  --h3: 36px;
  --h4: 30px;
  --h5: 24px;
  --h6: 20px;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  font-family: "Archivo", sans-serif;
  color: var(--color-body);
  font-weight: var(--p-regular);
  position: relative;
  overflow-x: hidden;
  background: #F2F3F5;
  /* direction:ltr; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}



ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

section {
  padding: 60px 0px;
}

.span-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #FF6600;
  text-transform: uppercase;
  font-family: var(--font-primary);
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 61px;
  color: #0C0A0A;
  text-transform: uppercase;
  margin-top: 5px;
}