.bannerSlide {
    display: flex;
    height: 100%;
}

.slideContent {
    position: relative;
    width: 100%;
    height: 100%;
}

.bannerImage {
    width: 100%;
    object-fit: cover;
    height: 90vh;
}

.heading {
    display: block;
    padding: 110px 60px;
    position: absolute;
    top: 0;
    right: 3%;
    text-align: start;
    color: #fff;
    z-index: 1;
}

.heading h5 {
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    font-family: var(--font-primary);
    color: var(--color-white);
    text-transform: uppercase;
    /* opacity: 0; */
    transition-delay: 0.5s;
}

.heading h2 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 60px;
    line-height: 85px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 35px;
    /* opacity: 0; */
    transition-delay: 1s;
    font-family: "Titillium Web", sans-serif;
}

.contact {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.btn {
    background: var(--color-primary);
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 13px 20px;
    border-radius: 2px;
    font-size: 1.1rem;
    /* position: relative; */
}

.btn::before {
    position: absolute;
    content: "";
    top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0C0A0A;
    z-index: -100;
    transition: var(--transition);
}

.btn:hover::before {
    top: 0;
}

.singleComponent {
    display: flex;
    align-items: center;
    gap: 15px;
}

.singleComponent .icon {
    width: 52px;
    height: 52px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.info span {
    display: block;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #6E777D;
    font-family: var(--font-primary);
    margin-bottom: 10px;
}

.info a {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    color: #fff;
    font-family: var(--font-primary);
    transition: 0.3s;
}

.info a:hover {
    color: var(--color-primary);
}

@media (max-width: 991px) {
    .heading h2 {
        font-size: 40px;
        line-height: 55px;
    }

    .btn {
        padding: 10px 16px;
    }

    .singleComponent .icon {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 768px) {
    .heading {

        top: -50px;
    }

    .heading h2 {
        font-size: 35px;
        line-height: 55px;
    }

    .contact {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .singleComponent .icon {
        width: 30px;
        height: 30px;
        padding: 5px;
    }
}

@media (max-width: 500px) {
    .heading {
        padding: 80px 16px;
    }
    .heading {
        top: -20px;
    }
    .heading h2 {
        font-size: 30px;
        line-height: 38px;
    }
}